<!-- About Section -->
    <section id="schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Planned schedule</h2>
                    <h3 class="section-subheading text-muted">The need for book is now. Thus we aim to write it before summer 2019. </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Nov 2018 - 2% done</h4>
                                    <h4 class="subheading">Fix preliminary structure</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In November 2018 we have fixed preliminary structure and topics to cover as well as timetable for each chapter. This is now done. Selected three themes are introduced above. Chapter topics for the themes have also been decided and writing has begun.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Dec 15th 2018 - 22% done</h4>
                                    <h4 class="subheading">First 5 chapters</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">At this stage Part I - "APIs as Products" is done as well as Preface. Each chapter will have around 8 pages. Of course some of them will have more some less. Topics to be discussed are value proposition, APIs after data APIS, primary customer (developer), business models and team composition in API development.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jan 15th 2019 - 47% done</h4>
                                    <h4 class="subheading">Half way</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Second Part "Developer-first approach" will be mostly written. Some of the topics to be discussed are developer experience, tools and tool development as well as distribution, sales and support, getting started with API and documentation. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Feb 15th 2019 - 75% done</h4>
                                    <h4 class="subheading">Marketing</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Last chapters of part II are written and at this stage Part III Business to Developer Marketing is mostly done. Topics to be discussed include developer relations, what is B2D, channels, support, advocacy and communication tone and style.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 15th 2019 - 98% done</h4>
                                    <h4 class="subheading">Final chapters</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Finally last chapters of the book are written about marketing and concluding part about developer portals are also finalized. After this starts the hard work of refactoring the content towards final manuscript to be published. Aim is to get all done by April 15th 2019.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>April 15th
                                    <br>2019
                                    <br>100%</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading">Publishing</h3>
                    <h3 class="section-subheading text-muted">Publishing plan is not fixed yet, but I have plan A, B and C. In plan A, some international publishing house accepts the text and publishes it. If that fails, I'll go for plan B which is self-publishing (all marketing has to be done self). If even that fails, I'll just add CC license to the text and push it out as PDF file. No matter what happens, content will be published. Help in getting in touch with international publishers would be appreciated.</h3>
                </div>
            </div>
        </div>
    </section>