<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h3 class="section-heading">Use & Follow #Build4Devs</h3>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h3 class="section-heading">Use & Follow #Build4Devs</h3>
                </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h3 class="section-heading">Use & Follow #Build4Devs</h3>
                </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h3 class="section-heading">Use & Follow #Build4Devs</h3>
                </div>
                </div>
            </div>
        </div>
    </aside>