<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Some contact information</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    
                                    <p>Jarkko Moilanen (PhD)</p>
                                </div>
                                <div class="control-group form-group">
                                    
                                    <p>+358 40 535 9066</p>
                                </div>
                                <div class="control-group form-group">
                                    
                                    <p>jarkko(at)vimo.fi</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    
                                    <p>You can support us by sharing this page in social media. Use hashtag #Build4Devs in your posts.</p>

                                    <h3>Follow hashtag!</h3>
                                    <img src="img/hashtag.png"/>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            
                        </div>
                    
                </div>
            </div>
        </div>
    </section>
