<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Some contact information</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    
                                    <p>Jarkko Moilanen (PhD)</p>
                                </div>
                                <div class="control-group form-group">
                                    
                                    <p>+358 40 535 9066</p>
                                </div>
                                <div class="control-group form-group">
                                    
                                    <p>jarkko(at)vimo.fi</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    
                                    <p>You can support us by sharing this page in social media. Use hashtag #Build4Devs in your posts.</p>

                                    <h3>Show your support!</h3>
                                    <!-- <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fbuildfordevelopers.com&text=Developers%20as%20Customer%20in%20API%20Economy%20book%20project%20&hashtags=Build4Devs%2CAPI%2CDX"><img src="/img/hashtag.png"/></a>
                                    -->
                                    <img src="/img/hashtag.png"/>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            
                        </div>
                    
                </div>
            </div>
        </div>
    </section>
