<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Main Book Themes</h2>
                    <h3 class="section-subheading text-muted">The book is built around three themes, each of which is one part of the book. </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">APIs as products</h4>
                    <p class="text-muted">Learn why APIs should be seen as products and what it means in practise. We will use existing great productised APIs as examples to avoid only theoretical viewpoints. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Developer-first approach</h4>
                    <p class="text-muted">We'll go through features and aspects on API development to focus on while keeping primary customer - application developer at the center. You will lean what kind of team you'll need to craft loves your customers will love.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-signal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Business to Developer marketing</h4>
                    <p class="text-muted">In the last part we'll guide you towards successful business developer marketing (B2D). You'll learn how to get started and things to avoid. </p>
                </div>
            </div>
        </div>
    </section>