<!-- Services Section -->
    <section id="themes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Themes covered</h2>
                    <h3 class="section-subheading text-muted">The book is built around three themes, each of which is one part of the book. The three themes are wrapped up in final Developer Portal focused part.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">APIs as products</h4>
                    <p class="text-muted">In the part one you'll learn why APIs should be seen as products and what it means in practise. We will use existing great productised APIs as examples to avoid purely theoretical viewpoint. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Developer-first approach</h4>
                    <p class="text-muted">In the second part we'll go through features and aspects on API development to focus on while keeping primary customer - application developer at the center. You will learn what kind of team you'll need to craft APIs your customers will love and why APIs mentioned in part are successful.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-signal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Business to Developer marketing</h4>
                    <p class="text-muted">In the third part we'll guide you towards successful Business to Developer marketing (B2D). You'll learn how to get started and things to avoid. Without proper marketing your efforts have been in vain and waste of time and resources.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">All the topics discussed previously are wrapped up in separate concluding part about Developer portals.</h3>
                    <h3 class="section-subheading text-muted">Planned chapters are introduced below as well as schedule. </h3>
                </div>
            </div>
        </div>
    </section>